// $button :#5D3891;
// $navbar:#F99417;
// $backgroud:#E8E2E2;
// $datail:#F5F5F5;

.btn2 {
    background-color: #5D3891;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 4px;
}
// .bg-button{
//     background-color: #5D3891;
// }
