<app-navbar></app-navbar> 

<div class="fixed right-0 left-0 top-32 bottom-0 flex justify-center items-center bg shadow-md ">
    <div *ngIf="form" class="text-center mx-auto bg-white pt-12 pb-12 pr-28 pl-28 border-2 border-solid border-gray-200 shadow-2xl shadow-gray-400/50 relative">
        <div class="absolute top-2 right-2" (click)="closePopup()">
            <mat-icon aria-hidden="false" aria-label="close icon" fontIcon="close" color=""></mat-icon>
        </div>
        <div class="mb-6 text-2xl">แบบสอบถาม การเข้าร้วมกิจกรรม</div>
        <div class="mb-6 text-lg">ชื่อกิจกรรม {{form.nameActivity}}</div>
        <div class="mb-6 text-lg">วันที่ 
            <span>{{form.dateTimeStart|date:'dd/MM/YYYY'}}</span>
            <span *ngIf="form.dateTimeEnd"> - {{form.dateTimeEnd|date:'dd/MM/YYYY'}}</span>
        </div>
        <div class="mb-6 text-lg">สถานที่ {{form.location}}</div>
        <div class="mb-6 text-lg">จำนวนผู้เข้าร่วม {{form.numberPP}}/{{form.participants}} คน</div>
        <div class="flex pt-6 " *ngIf="form.numberPP < form.participants">
            <button *ngIf="form.isJoin" class="bg-green-600 bt-shadow text-white text-lg rounded-md cursor-pointer px-5 py-3 mr-16">เข้าร่วมเเล้ว</button>
            <button *ngIf="!form.isJoin" class="bg-bt bt-shadow text-white text-lg rounded-md cursor-pointer px-10 py-3 mr-16" (click)="join()">เข้าร่วม</button>
            <button class="bg-no bt-shadow-no text-white text-lg rounded-md cursor-pointer px-10 py-3" (click)="notJoin()">ยกเลิก</button>
        </div>
        <!-- <div *ngIf="form.isJoin" class="mt-6 text-red-500">รหัสนิสิตนี้เข้าร่วมเเล้ว</div> -->
    </div>
</div>