<app-navbar></app-navbar> 

<!-- activity -->
<div class=" bg">
  <div class=" text-center ">
    <button class="relative px-16 py-4 text-lg rounded-md text-white mt-6 mb-6 bg-bt bt-shadow" (click)="togglePopup()" *ngIf="" >เพิ่มกิจกรรม</button>
    <span *ngIf="showPopup">
        <!-- <app-new-activity [is_update]="is_update" (show)="togglePopup()" [data]="select_activity"></app-new-activity> -->
        <app-activity-admin [is_update]="is_update" (show)="togglePopup()" [data]="select_activity"></app-activity-admin>
    </span>
  </div>

  <div class="max-w-[1500px] mx-auto p-6 bg-white bg-white shadow-md">

      <div class="flex items-center mb-6">
          <div class="mr-auto text-xl">กิจกรรมของชมรม</div>
          <div class="ml-auto text-xl">ปี 2567</div>
      </div>
      <a class="card-container" routerLink="/view-data-activity">
        <div class="card-1 bg-white shadow-md" >
          <img class="card-image-1" src="../../assets/image/bg.png" alt="Card Image">
          <div class="card-body">
            <div class="name-activity-crad">ชื่อกิจกรรม</div>
            <div class="month-crad">เดือน มกราคม</div>
            <div class="amount-crad">จำนวน 0 คน</div>
          </div>
        </div>

        <div class="card-2 bg-white shadow-md">
          <img class="card-image-2" src="../../assets/image/bg.png" alt="Card Image">
          <div class="card-body">
            <div class="name-activity-crad">ชื่อกิจกรรม</div>
            <div class="month-crad">เดือน มกราคม</div>
            <div class="amount-crad">จำนวน 0 คน</div>
          </div>
        </div>

        <div class="card-3 bg-white shadow-md">
          <img class="card-image-3" src="../../assets/image/bg.png" alt="Card Image">
          <div class="card-body">
            <div class="name-activity-crad">ชื่อกิจกรรม</div>
            <div class="month-crad">เดือน มกราคม</div>
            <div class="amount-crad">จำนวน 0 คน</div>
          </div>
        </div>
      </a>
      <div class="line"></div>

<!-- 66 -->
      <div class="flex items-center mb-6">
          
          <div class="ml-auto text-xl">ปี 2566</div>
      </div>
      <div class="card-container">

          <div class="card-1 bg-white shadow-md">
              <div class="card-header">
                <img class="card-image" src="../../assets/image/bg.png" alt="Card Image">
              </div>
              <div class="card-body">
                <div class="name-activity-crad">ชื่อกิจกรรม</div>
                <div class="month-crad">เดือน ธันวาคม</div>
                <div class="amount-crad">จำนวน 0 คน</div>
              </div>
          </div>

          <div class="card-2 bg-white shadow-md">
              <div class="card-header">
                <img class="card-image" src="../../assets/image/bg.png" alt="Card Image">
              </div>
              <div class="card-body">
                <div class="name-activity-crad">ชื่อกิจกรรม</div>
                <div class="month-crad">เดือน ธันวาคม</div>
                <div class="amount-crad">จำนวน 0 คน</div>
              </div>
          </div>

          <div class="card-3 bg-white shadow-md">
              <div class="card-header">
                <img class="card-image" src="../../assets/image/bg.png" alt="Card Image">
              </div>
              <div class="card-body">
                <div class="name-activity-crad">ชื่อกิจกรรม</div>
                <div class="month-crad">เดือน พฤศจิกายน</div>
                <div class="amount-crad">จำนวน 0 คน</div>
              </div>
          </div>
      </div>
  </div>
</div>