
.bg{
  background-color:rgb(232, 226, 226);
}

/* crad */
.card-container {
  display: grid;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid; */
}
.card-1,.card-2{
  width: 484px;
  border: 2px solid #ddd;
  overflow: hidden;
  margin-right: 24px;
}
.card-3 {
  width: 484px;
  border: 2px solid #ddd;
  overflow: hidden;
}
.card-image{ 
  border: 2px solid #ddd;
  
}
.card-body {
  padding: 16px;
}
.card-body div {
  color: #333;
}
.month-crad{
  display: inline-block;
}
.amount-crad {  
  display: inline-block;
  margin-left: 59%;
}
.line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000;
  margin-top: 24px;
  margin-bottom: 24px;
}

@media only screen and (max-width:1280px){
  .feed-background{
    max-width: 70%;
  }
}
@media only screen and (max-width:1024px){
  .feed-background{
    max-width: 80%;
  }
}
@media only screen and (max-width:640px){
  .grid-cols-3{
    grid-template-columns: 1fr;
  }
  .gap-x-6 {
    gap: 8px 0;
  }
}