<app-navbar></app-navbar>

<div class="pt-6 bg">
    <div class="max-w-[1500px] mx-auto p-6 bg-white bg-white shadow-md">
        <div class="flex items-center mb-6">
            <div class="mr-auto text-xl">กิจกรรมของชมรม</div>
            <div class="ml-auto text-xl">ปี 2567</div>
        </div>
        <div class="line"></div>
        <div class="mb-6 text-lg">ชื่อกิจกรรม</div>
        <div class="flex">
            <img class="image-activity" src="../../assets/image/bg.png" alt="Image Activity">
            <div class="detail-activity text-lg">เนื้อหากิจกรรม</div>
        </div>
        <div class="heading-detail mb-6">
            <span class="day">วันที่ 1 มกราคม 2566</span>
            <span class="month">เดือน มกราคม</span>
            <span class="location">สถานที่จัด สวนสาธารณะ</span>
            <span class="amount">จำนวนเข้าร่วม 50 คน</span>
        </div>
        <div class="text-lg mb-6">รูปกิจกรรม</div>
        <div class="flex flex-row">
            <img class="image-1" src="../../assets/image/bg.png" alt="Image 1">
            <img class="image-2" src="../../assets/image/bg.png" alt="Image 2">
            <img class="image-3" src="../../assets/image/bg.png" alt="Image 3">
        </div>
    </div>
</div>