<div class="relative bg min-w-screen min-h-screen ">
    <app-navbar [profile]="profile_navbar"></app-navbar> 

    <div class="mt-6 flex flex-col justify-center items-center">

            <form class="pt-8 pb-8 pl-6 pr-6 bg-white shadow-lg rounded-lg w-3/5" (ngSubmit)="submit()" *ngIf="form !=undefined">
                
                <div class="flex"> 
    
                    <div class="hidden-d">
                        <div class="w-32 h-32 rounded-full overflow-hidden object-none cusrom-position">
                            <img class="" *ngIf="!urlFile" src="/assets/image/profile.png" alt="Profile User">
                            <img class="" *ngIf="urlFile" [src]="urlFile" alt="Profile User">
                        </div>
        
                        <div class="flex justify-between items-center mt-2">
                            <label for="upload-profile">
                                <img class="w-8 h-8 ml-1" src="../../assets/image/edit-profile.webp" alt="Edit Profile">
                            </label>
                            <input type="file" id="upload-profile" accept="image/*" name="profile" style="display: none;"
                                (change)="onSelectFiles($event)">
                            <div class="">แก้ไขรูปภาพ</div>
                        </div>
                    </div>
    
                    <div class="items-center ml-12 w-full">
                        <div class="mr-auto text-xl">ข้อมูลส่วนตัว</div>
                        <div class="line"></div>
    
                        <div class="hidden-m mx-auto">
                            <div class="w-24 h-24 rounded-full overflow-hidden object-none cusrom-position mx-auto">
                                <img class="" *ngIf="!urlFile" src="/assets/image/profile.png" alt="Profile User">
                                <img class="" *ngIf="urlFile" [src]="urlFile" alt="Profile User">
                            </div>
            
                            <div class="flex justify-center mt-1 items-center">
                                <label for="upload-profile">
                                    <img class="w-8 h-8 " src="../../assets/image/edit-profile.webp" alt="Edit Profile">
                                </label>
                                <input type="file" id="upload-profile" accept="image/*" name="profile" style="display: none;"
                                    (change)="onSelectFiles($event)">
                                <div class="ml-1">แก้ไขรูปภาพ</div>
                            </div>
                        </div>
    
                        <div class="grid grid-cols-2 gap-y-1 gap-x-6 mt-4 mt-m">
                            <div class="relative" [ngClass]="{'error': error.code_student || error.conde_already_exist}">
                                <label class="text-lg block mb-2" for="username">รหัสนิสิต</label>
                                <input class="border-2 border-black w-full p-1 rounded-md" 
                                        type="text" id="username" name="username" required [(ngModel)]="form.code_student" [maxlength]="8" readonly>
                                <div *ngIf="error.code_student" class="error-message text-red-500 text-sm mt-2">รหัสนิสิตน้อยกว่า 8 ตัว</div>
                                <div *ngIf="error.conde_already_exist" class="error-message text-red-500 text-sm mt-2">รหัสนิสิตนี้มีอยู่ในระบบเเล้ว</div>
                            </div>
        
                            <div class="relative" [ngClass]="{'error': error.nick_name}">
                                <label class="text-lg block mb-2" for="nickname">ชื่อเล่น</label>
                                <input class="border-2 border-black w-full p-1 rounded-md"  
                                        type="text" id="nickname" name="nickname" required [(ngModel)]="form.nick_name">
                                <div *ngIf="error.nick_name" class="error-message text-red-500 text-sm mt-2">เขียนภาษาไทย</div>
                            </div>
    
                            <div class="relative" [ngClass]="{'error': error.first_name}">
                                <label class="text-lg block mb-2" for="firstName">ชื่อ</label>
                                <input class="border-2 border-black w-full p-1 rounded-md"  
                                        type="text" id="firstName" name="firstName" required [(ngModel)]="form.first_name">
                                <div *ngIf="error.first_name" class="error-message text-red-500 text-sm mt-2">เขียนภาษาไทย</div>
                            </div>
        
                            <div class="relative" [ngClass]="{'error': error.last_name}">
                                <label class="text-lg block mb-2" for="lastName">นามสกุล</label>
                                <input class="border-2 border-black w-full p-1 rounded-md"  
                                        type="text" id="lastName" name="lastName" required [(ngModel)]="form.last_name">
                                <div *ngIf="error.last_name" class="error-message text-red-500 text-sm mt-2">เขียนภาษาไทย</div>
                            </div>
                        </div>
                    </div>
                </div>
                   
                <button class="btn flex py-2 px-5 text-lg text-white rounded-md cursor-pointer mx-auto mt-6 shadow-lg bg-bt bt-shadow"
                        type="submit" [disabled]="!checkStudentCodeLength()">
                    <span>บันทึก</span>
                </button>
            </form>
            <div class="mt-2 pt-6 pb-6 pl-6 pr-6 bg-white shadow-lg rounded-lg w-3/5" *ngIf="listAdmin != undefined">
                <div class="text-xl">จัดการผู้ดูเเลเว็ปไซต์</div>
                <div class="line"></div>
                <div class="text-lg mb-1">เพิ่มผู้ดูเเล</div>
                <div class="grid grid-cols-4 gap-x-4 w-full items-center">
                    <div class="col-span-2">
                        <input type="text" class="border-2 border-black p-1 rounded-md w-full" [ngClass]="{'border-red-500':errorAddAdmin}" placeholder="กรอกรหัสนิสิต" [(ngModel)]="newAdmin">
                    </div>
                    <div class="col-span-1">
                        <button class="flex py-1 px-5 text-lg text-white rounded-md cursor-pointer shadow-lg bg-bt bt-shadow" (click)="addAdmin()">เพิ่ม</button>
                    </div>
                </div>
                <div class="mt-2 text-lg">รายชื่อผู้ดูเเล</div>
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <table id="dataTable" class="min-w-full text-left text-sm font-light">
                        <thead class="border-b font-medium dark:border-neutral-500">
                          <tr>
                            <th scope="col" class="whitespace-nowrap px-6 py-4">ลำดับ</th>
                            <th scope="col" class="whitespace-nowrap px-6 py-4">รุ่น</th>
                            <th scope="col" class="whitespace-nowrap px-6 py-4">ชื่อ - นามสกุล</th>
                            <th scope="col" class="whitespace-nowrap px-6 py-4">คณะ</th>
                            <th scope="col" class="">ลบสิทธิ์</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-300 dark:hover:bg-neutral-200" *ngFor="let ar of listAdmin;let i = index">
                                <td class="whitespace-nowrap px-6 py-4 font-medium" >{{i+1}}</td>
                                <td class="whitespace-nowrap px-6 py-4" >{{ar.code_student.substring(0,2)}}</td>
                                <td class="whitespace-nowrap px-6 py-4" >
                                    <span class="mr-2">
                                        {{ar.first_name}}
                                    </span>
                                    <span>
                                        {{ar.last_name}}
                                    </span>
                                </td>
                                <td class="whitespace-nowrap px-6 py-4" >{{ar.faculty}}</td>
                                <td class="whitespace-nowrap px-6 py-4">
                                    <button class="hover:text-red-500" (click)="deleteAdmin(ar.id,ar.first_name,ar.last_name)" *ngIf="ar.is_delete == '1'"><mat-icon>delete</mat-icon></button>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        <div *ngIf="showAlert" class="anima flex items-center p-4  mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <span class="font-medium">บันทึกข้อมูลเสร็จสิ้น!</span>

        </div>
    </div>
</div> 
