<div class="h-screen bg-cover bg-center bg-fixed"
     style="background-image: url(../../assets/image/bg.png)">

  <div class="flex justify-center items-center h-full">
    <div class="bg-white pt-8 pb-8 pl-14 pr-14 shadow-lg mx-auto rounded-lg">
      
      <div class="text-center">
        <h1 class="text-2xl mb-6">ยอดหญ้าบนภูสูง</h1>
        <h1 class="text-xl mb-4">ลืมรหัสผ่าน</h1>
      </div>

      <form class="grid grid-col">
        <div class="flex flex-col">
          <label class="text-lg" for="username">รหัสนิสิต</label>
          <input class="border-2 border-black w-full p-1 mt-2 rounded-md" 
                [ngClass]="{'border-red-500':warn.code_student}" type="text" id="username" name="username" [(ngModel)]="form.code_student" [maxlength]="8" required>
          <div *ngIf="warn.code_student" class="text-red-500 mt-1 text-sm">รหัสนิสิตน้อยกว่า 8 ตัว</div>
          <div *ngIf="warn.conde_not_exist" class="text-red-500 mt-1 text-sm">รหัสนิสิตนี้ไม่มีอยู่ในระบบเเล้ว</div>
        </div>
        
        <div class="flex flex-col">
          <label class="text-lg mt-2 mt-space" for="password">รหัสผ่าน</label>
          <input class="border-2 border-black w-full p-1 mt-2 rounded-md"
                [ngClass]="{'border-red-500':warn.password}"  type="password" id="password" name="password" required [(ngModel)]="form.password">
          <div *ngIf="warn.password" class="text-red-500 mt-1 text-sm">*ต้องมีตัวพิมพ์ใหญ่เเละตัวพิมพ์เล็กอย่างน้อย 1 ตัว*</div>
          <div *ngIf="warn.password" class="error-message text-red-500 text-sm">*ต้องมีตัวเลขและตัวอักษรพิเศษอย่างน้อย 1 ตัว*</div>
        </div>

        <div class="flex flex-col">
          <label class="text-lg mt-2 mt-space" for="confirmPassword">ยืนยันรหัสผ่าน</label>
          <input class="border-2 border-black w-full p-1 mt-2 rounded-md"
          [ngClass]="{'border-red-500':warn.confirm_password}"  type="password" id="confirmPassword" name="confirmPassword" required [(ngModel)]="form.confirm_password">
          <div *ngIf="warn.confirm_password" class="text-red-500 mt-1 text-sm">รหัสไม่ตรงกัน</div>
        </div>
        
        <div class="flex">
          <label class="flex mt-2 mt-space">
            <input class="mr-2 mx-auto" type="checkbox" name="rememberPassword" [(ngModel)]="rememberPassword">
            <span>จดจำรหัสผ่าน</span> 
          </label>
        </div>

        <div class="flex justify-center pr-20 pl-20">
          <button class="btn text-lg text-white px-6 py-2 rounded-md cursor-pointer mx-auto mt-8 bg-bt bt-shadow" 
                  (click)="forgotpassword()" [disabled]="!isValidForm()" type="submit">ยืนยัน</button>
        </div>

      </form>
    </div>
  </div>
</div>

  