.bg-bt{
  background-color: rgb(93, 56, 145);
}
.bt-shadow{
  --tw-shadow-color: #5D3891;
  box-shadow: 0 2px 10px -2px rgb(93, 56, 145);
}

/* .forgot-password-container {
    max-width: 400px;
    margin: auto;
    margin-top: 15%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } */
  /* p{
    font-size: 24px;
  }
  .forgot-password{
    text-align: center;
  } */
  /* form {
    display: flex;
    flex-direction: column;
  }
  label {
    margin-bottom: 5px;
  } */
  /* .text-line {
    background-color: transparent;
    color: black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 1px;
    padding: 3px 10px;
  } */
  /* input {
    padding: 8px;
    margin-bottom: 16px;
  } */
  /* button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(96, 40, 255, 1);
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    font-size: 16px;
    margin-bottom: 32px;
  }
  
  button:hover {
    background-color: rgba(96, 40, 255, 1);
  } */
  