<div class="absolute inset-0 flex items-center justify-center bg-cover bg-center"
     style="background-image:url('/assets/image/bg.png'); background-size: 100%;">
  <div class="max-w-[600px] min-w-[500px] mx-auto pt-12 pb-12 pl-24 pr-24 border-2 border-solid border-gray-200 rounded bg-white shadow-2xl shadow-gray-200/50">
    <div class="text-center">
      <!-- <img class="logo mx-auto" src="/assets/image/IconYodYa.png" alt="Logo"> -->
      <p class="login text-3xl text-gray-900 dark:text-back mb-12">ยอดหญ้าบนภูสูง</p>
      <p class="login text-2xl text-gray-900 dark:text-back mb-8" >ลืมรหัสผ่าน</p>
    </div>

    <form class="flex flex-col">
      <div></div>
      <label class="text-lg" for="username">รหัสนิสิต</label>
      <input class="border-2 border-black w-full p-1 mt-2" 
            [ngClass]="{'border-red-500':warn.code_student}" type="text" id="username" name="username" [(ngModel)]="form.code_student" [maxlength]="8" required>
      <div *ngIf="warn.code_student" class="error-message text-red-500 text-sm mt-2">รหัสนิสิตน้อยกว่า 8 ตัว</div>
      <div *ngIf="warn.conde_not_exist" class="error-message text-red-500 text-sm mt-2">รหัสนิสิตนี้ไม่มีอยู่ในระบบเเล้ว</div>
      
      <label class="text-lg mt-4" for="password">รหัสผ่าน</label>
      <input class="border-2 border-black w-full p-1 mt-2"
            [ngClass]="{'border-red-500':warn.password}"  type="password" id="password" name="password" required [(ngModel)]="form.password">
      <div *ngIf="warn.password" class="error-message text-red-500 text-sm mt-2">*ต้องมีตัวพิมพ์ใหญ่เเละตัวพิมพ์เล็กอย่างน้อย 1 ตัว*</div>
      <div *ngIf="warn.password" class="error-message text-red-500 text-sm">*ต้องมีตัวเลขและตัวอักษรพิเศษอย่างน้อย 1 ตัว*</div>

      
      <label class="text-lg mt-4" for="confirmPassword">ยืนยันรหัสผ่าน</label>
      <input class="border-2 border-black w-full p-1 mt-2"
      [ngClass]="{'border-red-500':warn.confirm_password}"  type="password" id="confirmPassword" name="confirmPassword" required [(ngModel)]="form.confirm_password">
      <div *ngIf="warn.confirm_password" class="error-message text-red-500 text-sm mt-2">รหัสไม่ตรงกัน</div>
      
      <label class="mt-2">
        <input class="mr-2 mx-auto" type="checkbox" name="rememberPassword" [(ngModel)]="rememberPassword">
        <span>จดจำรหัสผ่าน</span> 
      </label>
      <button class="text-lg text-white px-10 py-3 rounded-md cursor-pointer mx-auto mt-8  bg-bt bt-shadow" 
              (click)="forgotpassword()" [disabled]="!isValidForm()" type="submit">เปลี่ยนรหัสผ่าน</button>
    </form>
  </div>
</div>

  