/* feed activity */
.background{
  padding-bottom: 24px;
}
.feed-background{
  max-width: 1150px;
  margin: 0 auto;
  padding: 16px;
  background-color: #ffffff;
}
.post {
  overflow: hidden;
}
.post-profile {
  position: relative;
  display: flex;
  padding-bottom: 16px;
  justify-content: space-between;
}
.icon-profile{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 24px;
}
.hamburger{
  position: relative;
  cursor: pointer;
  width: 8px;
  height: 30px;
}
.post-user-name{
  padding-bottom: 0px;
  margin-right: auto;
  font-size: 18px;
}
.post-text{
  display: flex;
  flex-direction: row;
}
.post-detail{
  margin-bottom: 16px;
  margin-top: 4px;
}

@media only screen and (max-width:1280px){
  .feed-background{
    max-width: 70%;
  }
}
@media only screen and (max-width:1024px){
  .feed-background{
    max-width: 80%;
  }
}
@media only screen and (max-width:640px){
  .feed-background{
    max-width: 90%;
  }
  .grid-cols-3{
    grid-template-columns: 1fr 1fr;
    gap: 4px;
  }
}